{% extends 'base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- {% load crispy_forms_tags %} -->
<style>
    body{
        background-color: rgba(247, 242, 242, 0.689);
    }
    
</style>
<br><br><br>
<div class="container mx-7">
    <div class="col-md-4 px-2 py-2" style="background-color: rgba(246, 248, 255, 0.897);">
        <h2>Search</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    </div>
    <br>
    {{ num_of_applicants }}
    <div class="row">
    {% for job in jobs %}
        <!-- <h3>{{ job.title }}</h3> -->
    
        <div class="col-md-4 gy-3">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title">{{ job.title }}</h5><br>
                <label class="card-text"><b>Salary: </b>{{ job.salary }}</label><br>
                <label class="card-text"><b>Location: </b>{{ job.location }}</label><br>
                <label class="card-text"><b>Type: </b></label>
                {% if job.jobtype == 'FT' %}
                    <label >Full Time</label>
                {% elif job.jobtype == 'PT' %}
                    <label >Part Time</label>
                {% elif job.jobtype == 'IN' %}
                    <label >Internship</label>
                {% elif job.jobtype == 'FL' %}
                    <label >Freelance</label>
                {% endif %}
                <!-- <a href="#" class="btn btn-primary">Apply</a> --><br><br>
                <!-- <label class="card-text"><b>Applications: </b> </label><br> -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#jobModal{{ job.id }}">
                  View Details
                </button>
                </div>
            </div>
            <br>
        </div>
    
    {% empty %}
        <p>No jobs found.</p>
    {% endfor %}
    </div>

    {% for job in jobs %}
    <div class="modal fade" id="jobModal{{ job.id }}" tabindex="-1" aria-labelledby="jobModal{{ job.id }}Label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobModal{{ job.id }}Label">{{ job.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Description</p>
                    <p>{{ job.description }}</p>
                    <hr>
                    <p>Location</p>
                    <p>{{job.location}}</p>
                    <p>Salary</p>
                    <p>{{job.salary}}</p>
                    <p>Job Type</p>
                    {% if job.jobtype == 'FT' %}
                        <span class="badge bg-primary px-2 py-2">Full Time</span>
                    {% elif job.jobtype == 'PT' %}
                        <span class="badge bg-success">Part Time</span>
                    {% elif job.jobtype == 'IN' %}
                        <span class="badge bg-warning">Internship</span>
                    {% elif job.jobtype == 'FL' %}
                        <span class="badge bg-secondary">Freelance</span>
                    {% endif %}
                    <hr>
                    <p>Required Skills : </p>
                    {% for skill in job.req_skills.all %}
                        <li>{{ skill.name }}</li>
                    {% endfor %}
                    <!-- {{job.id}} -->
                </div>
                <div class="modal-footer">
                    
                    <form method="post" action="{% url 'apply' job_id=job.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
